{% extends 'base.html' %}
{% block title %}Товары{% endblock %}
{% block menu %}
    <li class="nav-item"><a href="{% url 'webapp:product_create' %}" class="nav-link">Добавить товар</a></li>
{#    <li class="nav-item"><a href="{% url 'webapp:website_statistics' %}" class="nav-link">Статистика Сайта</a></li>#}
{% endblock %}
{% block content %}
    <h1 class="text-center">Статистика Сесси на сайте</h1>
    <hr>
    <h2> Посещения страниц </h2>
    <h4>Колличество посещений 'index': {{ index_visits }}</h4>
    <h4>Проведенное время на 'index': {{ index_time }}</h4>
    <hr>
    <h4>Колличество посещений 'detail view': {{ detail_visits }}</h4>
    <h4>Проведенное время на 'detail view': {{ detail_time }}</h4>
    <hr>
    <h4>Колличество посещений 'create product': {{ create_product_visits }}</h4>
    <h4>Проведенное время на 'create product': {{ create_product_time }}</h4>
    <hr>
    <h4>Колличество посещений 'basket': {{ basket_visits }}</h4>
    <h4>Проведенное время на 'basket': {{ basket_time }}</h4>
{% endblock %}